@import "reset.css";

*{
    box-sizing: border-box;
    font-size: 16px
}

    #container {
        background: #ccc;
        display: flex;
        padding: 1rem 1.25 rem;
        width: 100%;
    }

    .header{
        display: flex;
        flex-direction: column;
    }